<header role="banner">
  <nav>
      <% if user_signed_in? %>
      <div class="navbar-right">
        <p class="navbar-text">
          Signed in as <%= "#{current_user.email}." %>
        </p>
      </div>
      <% end %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    </nav>
</header>